body{
	background-color: rgba(108, 0, 64);
	font-family: "playfair display", "consolas";
	color: white;
	text-shadow: -1px -1px #666666;
	overflow: hidden;
	min-width: 480px;
	max-width: 1064;
	min-height: 400px;
	max-height: 1440;
}

p{
	color: white;
	font-family: "playfair display", "consolas";
	text-shadow: -1px -1px #666666;
}

div{
	background-color: rgba(205, 0, 121 );
}
			
li{
	font-size: 50%
	background-color: #723bb9;
}
h2{
	font-family: "playfair display", "consolas";
	text-decoration: underline;
	letter-spacing: 0.4em;
	text-align: center;
	text-shadow: -1px -1px #666666;
	background-color: rgba(205, 0, 121 );
	
}
			
h3{
	text-align: center;
}
			
ol{
	color: white;	
	font-family: "playfair display", "consolas";
	text-shadow: -1px -1px #666666;
}
			
img{
	overflow: hidden;
}
			
ul{
	color: white;	
	font-family: "playfair display", "consolas";
	text-shadow: -1px -1px #666666;
	overflow: hidden;
}
			
a{
	color: white;
	text decoration: none;
	text-shadow: -1px -1px #666666;
	background-color:rgba(205, 0, 121 );
	overflow: hidden;
}